<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.png">

    <title>Concur test reporting</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

  </head>

  <body>
    <form action = "" method = "post" novalidate>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <img class="navbar-brand" src="/static/img/concur_logo.png" alt="logo">
        </div>
        <div id="navbar" class="navbar-collapse collapse" >

            <div class="navbar-form navbar-right">
                {{ form.searchTextField(class_="form-control", placeholder="version:subversion",**{"onchange":"this.form.submit()"}) }}
            </div>

        </div>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

              <ul class="nav nav-sidebar">
                <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                  <br>
                  <a href="/{{team}}/{{platform}}">Reset <span class="sr-only">(current)</span></a>
              </ul>
              <ul class="nav nav-sidebar">
                  <!--block for defining additional filters for page-->
                  {% block filters %}{% endblock %}

                  <li>{{ form.timestampSelectField.label}}</li>
                  <li>
                      {{ form.timestampSelectField(**{"onchange":"this.form.submit()"}) }}
                  </li>
              </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{ team }} {{(" - " + platform) if platform != "None"}}</h1>
          <div class="table-responsive">

              <table class="table table-striped" style="table-layout: fixed">
                  <thead>
                    <tr>

                        <!--block for defining key for upper table, default: Day-->
                        {% block columnLables %}
                        <th>Day</th>
                        {% endblock %}

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody id="tableBody">
                        {% for component, value in result.items()|reverse %}
                        {% set latestVersion = (value.values() | list)[-1] %}
                        {% set latestVersionTests = latestVersion['passed']+latestVersion['skipped']+latestVersion['failed']+0.01 %}
                        <tr onclick="hideFunction('{{component}}')" class="versionClass" >
                            <th> {{ component }} </th>
                            <td></td>
                            <td></td>
                            <td></td>

                            <td >
                                <div class="progress" style="width:80px">
                                  <div class="progress-bar progress-bar-success" role="progressbar"
                                       style="width:{{ latestVersion['passed'] / latestVersionTests * 100}}%">
                                  </div>
                                  <div class="progress-bar progress-bar-warning" role="progressbar"
                                       style="width:{{ latestVersion['skipped'] / latestVersionTests * 100}}%">
                                  </div>
                                  <div class="progress-bar progress-bar-danger" role="progressbar"
                                       style="width:{{ latestVersion['failed'] / latestVersionTests * 100}}%">
                                  </div>
                                </div>
                            </td>

                        </tr>
                          <tr style="display: none" id='{{component}}' class="testsClass">
                            <td colspan="5">

                                <table class="table table-striped" style="table-layout: fixed">
                                  <thead>
                                    <tr>

                                        <!--block for defining subkey for inner table, default: Hour-->
                                        {% block columnSubLables %}
                                        <th>Hour</th>
                                        {% endblock %}

                                        <th>Passed</th>
                                        <th>Skipped</th>
                                        <th>Failed</th>
                                        <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      {% for key, value in value.items()|reverse %}
                                      {% set allTests = value['passed']+value['skipped']+value['failed']+0.01 %}
                                      {% set myLink = '/'+team+'/'+platform+'/'+component+ ':'+key %}
                                        <tr onclick="hideFunction('{{key + component}}')" class="subversionClass" >
                                            <th><a href='{{myLink}}'> {{ key }}</a> </th>
                                            <td> {{ value['passed'] }} </td>
                                            <td> {{ value['skipped'] }} </td>
                                            <td> {{ value['failed'] }} </td>
                                            <td>
                                                <div class="progress" style="width:80px">
                                                  <div class="progress-bar progress-bar-success" role="progressbar"
                                                       style="width:{{ value['passed'] / allTests * 100}}%">
                                                  </div>
                                                  <div class="progress-bar progress-bar-warning" role="progressbar"
                                                       style="width:{{ value['skipped'] / allTests * 100}}%">
                                                  </div>
                                                  <div class="progress-bar progress-bar-danger" role="progressbar"
                                                       style="width:{{ value['failed'] / allTests * 100}}%">
                                                  </div>
                                                </div>
                                            </td>
                                        </tr>


                                    {% endfor %}

                                  </tbody>
                                </table>

                            </td>
                        </tr>
                  {% endfor %}
                 </tbody>
             </table>

          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/pageActions.js"></script>
    </form>
  </body>
</html>
