{% extends "dashTemplate.html" %}

{% block filters %}

{% endblock %}

{% block columnLables %}
    <th>Component</th>
{% endblock %}

{% block columnSubLables %}
    <th>Version</th>
{% endblock %}
