{% extends "testPageTemplate.html" %}

{% block headers %}
    {{ super() }}
    <th>Owner</th>
    <th>Artifacts</th>

{% endblock %}

{% block columns %}
    {{ super() }}
    <td>{{ value.owner}}</td>
    <td>
        <a href="https://s3.console.aws.amazon.com/s3/buckets/aws-qa-mobileaut-results/{{ value.reportId }}/?region=us-west-2&tab=overview">{{ value.reportId[0:3] }}</a>
    </td>
{% endblock %}
