{% extends "testPageTemplate.html" %}

{% block headers %}
    <th>Class</th>
    {{ super() }}
    <th>ID</th>
{% endblock %}

{% block columns %}
    <td>{{ value.class }}</td>
    {{ super() }}
    <td>{{ value.id }}
{% endblock %}
