<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.png">

    <title>Concur test reporting</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

  </head>

    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">

          <img class="navbar-brand" src="/static/img/concur_logo.png" alt="logo">
        </div>
      </div>
    </nav>

    <form action = "" method = "post" novalidate>
          <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
            </div>
          </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <h1 class="page-header">Test Reporting</h1>
                {% for team, platforms in teams.items() %}
                    {% for platform in platforms %}
                        <button class="button" name="{{team + platform}}" value="{{team}}_{{platform}}">{{ team }} {{(" - " + platform) if platform != "None"}}</button>
                    {% endfor %}
                    <br><br>
                {% endfor %}

        </div>
    </form>

    <div class="item-absolute">
        <img src="/static/img/sap_logo.png" alt="logo" height="100" width="545">
    </div>

    <script src="/static/js/bootstrap.min.js"></script>

    </body>
</html>