<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.png">

    <title>Concur test reporting</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">



  </head>

  <body>
    <form action = "" method = "post">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <img class="navbar-brand" src="/static/img/concur_logo.png" alt="logo">
        </div>
        <div id="navbar" class="navbar-collapse collapse" >

            <div class="navbar-form navbar-right">
                {{ form.searchTextField(class_="form-control", placeholder="Test name",**{"onchange":"this.form.submit()"}) }}
            </div>

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

              <ul class="nav nav-sidebar">
                <li class="active"><a href='/{{team}}/{{platform}}'>Back<span class="sr-only">(current)</span></a></li>
                  <br>

              </ul>
              <ul class="nav nav-sidebar">
                  <li>{{ form.statusSelectField.label}}</li>
                  <li>
                      {{ form.statusSelectField(**{"onchange":"this.form.submit()"}) }}
                  </li>
                  <li>{{ form.timestampSelectField.label}}</li>
                  <li>
                      {{ form.timestampSelectField(**{"onchange":"this.form.submit()"}) }}
                  </li>
                  <li>
                      {{ form.duplicatesCheckbox.label}}
                      {{ form.duplicatesCheckbox(onchange="this.form.submit()", class='checkbox') }}
                  </li>
                  <br>

              </ul>


        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <header style="display: inline">
              <h1 class="page-header">Tests</h1>
              {% set allTests = stats['passed']+stats['skipped']+stats['failed']+0.01 %}
              <div class="progress" style="border-radius: 20px">
                  <div class="progress-bar progress-bar-success" role="progressbar"
                       style="width:{{ stats['passed'] / allTests * 100}}%">
                  </div>
                  <div class="progress-bar progress-bar-warning" role="progressbar"
                       style="width:{{ stats['skipped'] / allTests * 100}}%">
                  </div>
                  <div class="progress-bar progress-bar-danger" role="progressbar"
                       style="width:{{ stats['failed'] / allTests * 100}}%">
                  </div>
               </div>
          </header>
          <div class="table-responsive">

              <table class="table table-striped" style="table-layout: auto">
                  <tbody id="tableBody">
                    <thead>
                        <tr>
                            {% block headers %}
                            <th>Name</th>
                            <th>Time</th>
                            <th>Status</th>
                            {% endblock %}
                            <th>Jira</th>
                        </tr>
                    </thead>
                    {% for value in result %}
                    <tr>
                        {% block columns scoped %}
                        <td>{{ value.name }}</td>
                        <td>{{ value.timestamp }}</td>
                        <td class="{{'failed' if value.status == 'failed' }}">{{ value.status}}
                            <img class="warning {{'hidden' if value.status != 'failed' }}" src="/static/img/attention.png">
                        </td>
                        {% endblock %}
                        <td>
                            <div class="active {{'hidden' if value.status != 'failed' }} {{'tickets' if value.status == 'failed' }}" data-path="{{ value.path }}"  data-team="{{ team }}"  data-platform="{{ platform }}">
                                <a href="#ticketModalForm" class="btn-add dialog" data-path="{{ value.path }}" data-toggle="modal">+</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
             </table>

          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ticketModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Create ticket</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="md-form mb-5">
                  <i class="fas fa-user prefix grey-text"></i>
                  <label data-error="wrong" data-success="right" for="ticketName">Ticket name</label>
                  <input type="text" id="ticketName" name="ticketName" class="form-control validate" required />
                  <label style="margin-top: 5px;" data-error="wrong" data-success="right" for="ticketType">Ticket type</label>
                  <select id="ticketType" name="ticketType" class="form-control">
                      <option value="bug">Bug</option>
                      <option value="automation">Automation issue</option>
                      <option value="environment">Environment issue</option>
                  </select>
                </div>

              </div>
              <div class="modal-footer d-flex justify-content-center">
                <input type="submit" value="Assign" class="btn btn-unique" name="createTicket" onsubmit="return validateForm()">
                <input type="hidden" value="" name="testPath" id="testPath">
              </div>
            </div>
          </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/pageActions.js"></script>

    </form>
  </body>
</html>
