{% extends "testPageTemplate.html" %}

{% block headers %}
    {{ super() }}
    <th>Artifacts</th>
{% endblock %}

{% block columns %}
    {{ super() }}
    <td>
        <a href={{value.artifacts}}>S3</a>
    </td>
{% endblock %}
