/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.checkbox{
    width: 20px;
    height: 20px;
    transform:scale(1.4);
    display:block;

}

.btn-add{
    font-size:18px;
    font-weight: bold;
    color: black;
    width:50%;
    display:block;
    margin: 0 auto;
}

.failed{
    color: red;
    font-weight:bold;
}

.warning{
    height:15px;
    margin: 0 2px 3px 2px;
    font-size:18px;
    line-height:20px;
}

.heading{
    font-size:35px;
}

.hidden{
    display:none;
}

select {
    font-size: 1.5rem;
    margin: 0px 10px 10px 0px;
}

td {
    overflow:hidden;
    text-overflow:ellipsis;
}
.cellClass {
    vertical-align:middle;
}

table {
    width: 100px;
}

.progress {
    margin: 0 auto;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar{
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4683CA;
  border: none;
  border-radius: 15px;

}

.button:hover {background-color: #EEA105}

.button:active {
  background-color: #EEA105;

  transform: translateY(4px);
}

.item-absolute {
  position: absolute;
  bottom: 10px;
  right: 10px;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
